.Heading{
    display:flex;
    justify-content: space-between;
    
}

H1{
    font-family: cursive;
    font-weight:bolder;
    font-size:50px;
    margin-left: 30px;
    color:rgb(0, 2, 104);
    /*color:rgb(207, 176, 0);*/
}

.Whole{
 
    background-color: rgb(100, 250, 125);
    background-image: url("blueBackground.jpg");
    background-size: 100% 100%;
}

.TheProduct{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

.Slogan1{
    font-size: 60px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(107, 0, 156);
    font-family: Arial, Helvetica, sans-serif;      
}
.RUN{
    font-size: 60px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(0, 2, 104);
    font-family: Arial, Helvetica, sans-serif;      
}
.Slogan2{
    font-size: 60px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(107, 0, 156);
    /*color:rgb(0, 247, 255);*/
    font-family: Arial, Helvetica, sans-serif;    
}

p{
    color:rgb(107, 0, 156);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Sticks{
margin-top: 50px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
table-layout: fixed;
gap:10px

}

.orderNow{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;  
    margin-top: 100px;
}

.Line1{

    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    color:rgb(0, 2, 104);

}

.Line2{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    color:rgb(0, 2, 104);
}

.Line3{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    color:rgb(0, 2, 104);
    margin-top: 25px;
}

.Links{
    display:flex;
    justify-content: space-between;
    gap:100px
}

A{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    color:rgb(107, 0, 156); 
    margin-top: 50px;

}

.Texts{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: initial;

}

.footer{

    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgb(0, 2, 104);

}
